# Puerto de la aplicación
PORT=3000

# Secreto para firmar las cookies de sesión
SESSION_SECRET=un-secreto-extremadamente-seguro-para-produccion

# URL de conexión a la base de datos PostgreSQL
# Formato: postgresql://[usuario]:[contraseña]@[host]:[puerto]/[base_de_datos]?schema=[esquema]
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/dentplus?schema=public
